  html {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  *,*::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:  black;
  }
  
  main {
    flex-grow: 1;
  }
  
  img {
    max-width: 100%;
     /* height: auto; */
    vertical-align: middle;
    object-fit: cover;
  }

.container {
    width: 1330px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.title {
  font-size: 50px;
  text-align: center;
  color: white;
}

.js-list {
  width: 1330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 920px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: whitesmoke;
  /* border: 5px solid white; */
  border-radius: 25px;
}

.js-poster {
  margin-left: 30px;
}

.js-title {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
  color: darkred;
}

.js-select {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 200px;
}

.js-genres {
  font-size: 20px;
  color: blue;
}

.js-text {
  font-size: 15px;
  font-style: italic;
}

.js-id {
  color: blueviolet;
  margin-bottom: 2px;
  text-align: center;
}